/* You can add global styles to this file, and also import other style files */
@import "~roboto-fontface/css/roboto/roboto-fontface.css";

  .scroll-table {
    font-family: "Roboto";
    position: relative;
    width:80%;
    z-index: 1;
    margin: auto;
    overflow: auto;
    height: 600px;
    border-radius:5px;
  }
  .scroll-table table {
    width: 100%;
    min-width: 1280px;
    margin: auto;
    border-collapse: separate;
    border-spacing: 0;
    border-radius:20px;
  }
  .table-wrap {
    position: relative;
  }
  .scroll-table th,
  .scroll-table td {
    padding: 5px 10px;
    border-bottom: 1px solid #000;
    background: #fff;
    vertical-align: top;
  }
  .scroll-table thead th {
    background: rgb(51, 51, 51);
    color: #fff;
    position: sticky;
    top: 0;
  }
  .scroll-table tfoot,
  .scroll-table tfoot th,
  .scroll-table tfoot tr {
    position: sticky;
    bottom: 0;
    background:rgb(51, 51, 51);
    color: #fff;
    z-index:4;
    width:100%;
  }
  
  tfoot{
    background: rgb(51, 51, 51);
  }

  tfoot th:nth-child(3) {
    z-index: 5;
    position: sticky;
    left: 0;
  }
  