<div class="scroll-table" *ngIf="paginatedData && paginatedData.length > 0">
    <table class="main-table" *ngIf="paginatedData && paginatedData.length > 0">
        <thead>
            <tr>
                <th *ngFor="let column of columnNames">
                    <span> {{column|uppercase}}</span>
                </th>
                <th>
                    <span> {{'OPERATIONS'}}</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of paginatedData;let i=index">
                <td *ngFor="let column of columnNames">
                    <span> {{row[column]}}</span>
                </td>
                <td>
                    <span> <button (click)="submitData(row)" class="pointer button">
                            Submit
                        </button>
                    </span>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <th *ngFor="let column of columnNames;let col=index;">
                <span *ngIf="col === 2">
                    <label for="itemsPerPage" style="margin-right:30px;">Select rows per page:</label>
                    <select id="itemsPerPage" [formControl]="itemsPerPage">
                        <option *ngFor="let row of rowCount" [value]="row">{{row}}</option>
                    </select><br />
                    <label for="pageNo" style="margin-right:45px;">Select page no:</label>
                    <select id="pageNo" [formControl]="pageNo">
                        <option *ngFor="let page of pages" [value]="page.id">{{page.name}}</option>
                    </select>
                </span>
            </th>
            <th>
            </th>
        </tfoot>
    </table>
</div>